@model HomeIndexViewModel
@{ ViewBag.Title = "Home page"; }

    @foreach (var restaurant in Model.Restaurants)
    {
        @Html.Partial("_Summary", restaurant)
    }
<div style="margin-top: 1em; margin-bottom: 1em">
    <a mvc-action=@MVC.Home.Create()>Add Restaurant</a>
</div>